@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Indie+Flower&family=Karantina&family=Source+Code+Pro:ital,wght@0,200;1,200&display=swap");
:root {
  --navColor: #1e1e30;
  --backColor: #161726;
  --fontColor1: white;
  --fontFam1: "Open Sans Condensed", sans-serif;
}
body {
  background-color: var(--backColor);
}

.Sidebar {
  background-color: var(--navColor) !important;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 6%;
}
.Title {
  color: white;
  position: absolute;
  top: 7%;
  left: 30%;
  font-size: 30px;
}
.Links {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 20%;
  left: 31%;
}
.Element {
  margin-bottom: 50px;
  color: rgb(128, 128, 128);
  font-size: 22px;
  cursor: pointer;
}
#End {
  position: absolute;
  bottom: -6%;
  left: 30%;
}
#Globe {
  font-size: 30px;
}

.Expand {
  background-color: var(--navColor);
  display: none;
  height: 100vh;
  width: 254%;
  position: absolute;
  left: 0%;
  top: -1%;
  color: var(--fontColor1);
  font-family: var(--fontFam1);
  z-index: -1;
  /* animation-name: expandSideBar;
  animation-duration: 2s;
  animation-fill-mode: both; */
}
/* .Display {
  animation-name: collapseSideBar;
  animation-duration: 2s;
  animation-fill-mode: both;
 
}
.expandedList {
  font-size: 18px;
} */
@keyframes expandSideBar {
  from {
    transform: translateX(9px);
  }
  to {
    transform: translateX(54px);
  }
}
@keyframes collapseSideBar {
  from {
    transform: translateX(54px);
  }
  to {
    transform: translateX(-4px);
  }
}

/* 
.Sidebar:hover .Expand {
  display: block;
  cursor: pointer;
} */

.Screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  height: 100vh;
  width: 85%;
  /* border: 2px solid wheat; */
  z-index: -2;
}

.tableHeader {
  color: white;
  display: flex;
}
.tableContent {
  margin: 4px;
  /* border: 2px solid white; */
  padding: 10px;
  width: 100px;
  height: 50px;
  background-color: #1e1e30;
  color: gray;
  font-size: 20px;
  border-radius: 3px;
}
.tableContent:hover {
  background-color: #161726;
}
.tableContentHead {
  margin: auto;
  position: relative;
  top: 20%;
  left: 8%;
  height: 50px;
  overflow-x: hidden;
}
#Confirmed,
#Recovered {
  left: 6%;
}
path {
  /* fill: aliceblue; */
  stroke: white;
}

.map {
  position: absolute;
  left: 2%;
  top: 110vh;
  fill: #161726;
}
.table-body {
  display: flex;
}
.table-body-data {
  top: 0%;
  left: 0%;
  font-size: 16px;
}
#tableScreen {
  height: 75vh;
  position: absolute;
  top: 8%;
}
#contentInTable {
  height: 75vh;
  overflow: scroll;
}
.Charts {
  position: absolute;
  top: 10%;
  left: 58%;
  /* border: 2px solid white; */
  height: 75vh;
  overflow: scroll;
  width: 40%;
}

.stateDisplay {
  /* border: 2px solid white; */
  height: 90vh;
  width: 85vw;
  position: relative;
  top: 5%;
}

.stateInfoCard {
  /* border: 2px solid white; */
  height: 40vh;
  width: 35vw;
  position: absolute;
  top: 5%;
  left: 5%;
}

.stateInfoCardHeader {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
}
.stateName {
  width: 60%;
  /* border: 2px solid white; */
  font-size: 42px;
  color: #e23028;
  font-family: "Karantina", cursive;
}
.statePopulationNum {
  text-align: right;
  width: 60%;
  /* border: 2px solid white; */

  color: #9673b9;
  font-family: "Karantina", cursive;
  font-family: "Source Code Pro", monospace;
}
.pos {
  font-size: 10px;
}
.infoCardBody {
  height: 88%;
  /* border: 1px solid white; */
}

.infocontent {
  display: flex;
  flex-direction: row;
}
.infocontent > div {
  /* border: 2px solid white; */
  height: 200px;
  width: 40%;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 12px;
}
.contentBody {
  position: relative;
}
.title {
  font-family: "Karantina", cursive;
  color: white;
  /* border: 2px solid white; */
  position: absolute;
  font-size: 24px;
  top: 30%;
  left: 24%;
}

.number {
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: "Crimson Text", serif;
  font-family: "Indie Flower", cursive;
  font-family: "Karantina", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  color: #f70c3a;
}

.graph {
  position: absolute;
  top: 70%;
}
.posNum {
  color: #9772b9;
}
#active {
  color: #057bfe;
}
.recovered {
  color: #27a844;
}

.TopDistrict {
  /* border: 2px solid white; */
  height: 40vh;
  min-height: 200px;
  width: 40vw;
  position: absolute;
  left: 56%;
  top: 5%;
}
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
.TopDistrictTitle {
  color: #28a745;
  font-family: "Orelega One", cursive;
  /* border: 2px solid white; */
  width: 30%;
  font-size: 22px;
}

.Content {
  /* border: 2px solid white; */
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ContentLeft {
  /* border: 2px solid white; */
  width: 35%;
  height: 100%;
}
.ContentLeftContent {
  display: flex;
  flex-direction: row;
  font-size: large;
  color: #6c757d;
  margin-top: 22px;
  position: relative;
}
.numberLeft {
  width: 28%;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.place {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  position: absolute;
  left: 50%;
  top: 21%;
}

.Deceased {
  left: 30%;
}
.districtDataChart {
  width: 60%;
  height: 100%;
  /* border: 2px solid white; */
}

.CovidInfo {
  /* border: 2px solid white; */
  height: 53vh;
  width: 45%;
  position: absolute;
  top: 40%;
  left: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CovidInfoBox {
  width: 220px;
  height: 47%;
  margin-left: 45px;
  margin-bottom: 20px;
  /* border: 2px solid white; */
  border-radius: 10px;
  color: #a31b34;
  position: relative;
  background-color: #341a27 !important;
}

.CovidInfoBoxHeader {
  /* border: 2px solid white; */
  height: 30%;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 6%;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=New+Tegomin&display=swap");

.CovidInfoBoxNumber {
  color: #aa1b33 !important;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-family: "New Tegomin", serif;
}

.CovidInfoBoxBody {
  /* border: 2px solid white; */
  position: absolute;
  top: 49%;
  left: 6%;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  color: #e23028 !important;
}
.box2 {
  background-color: #171e32 !important;
  color: #18488e !important;
}
.box3 {
  background-color: #1a2829 !important;
  color: #27753b;
}
.box4 {
  background-color: #241142 !important;
}

.box2Num {
  color: #0b71ea !important;
}
.box3Num {
  color: #27a844 !important;
}

.box2Body {
  color: #0b71ea !important;
}
.box3Body {
  color: #28a745 !important;
}
.box3Title {
  width: 100%;
}

.chartStateDisplay {
  /* border: 2px solid white; */
  height: 400px;
  width: 40%;
  position: absolute;
  top: 42%;
  right: 2%;
  overflow: scroll;
}

.headerSearch {
  width: 600px;
  /* border: 2px solid white; */
  position: relative;
  height: 35px;
  left: 20%;
  top: 40%;
}

.Search input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid white;
  /* background-color: #171e32; */
  /* background-color: inherit; */
}

.DashboardBodyBox {
  /* border: 2px solid white; */
  position: relative;
  top: 23%;
  width: 42vw;
  height: 90vh;
  /* background-color: #171e32; */
  border-radius: 20px;
}

.DashboardHeader {
  position: relative;
  top: 5%;
  width: 100%;
  height: 100px;
  /* border: 2px solid white; */
}

.DashboardLocation {
  position: absolute;
  top: 5%;
  width: 100%;
  /* border: 2px solid white; */
  height: 40%;
}

.tabs {
  /* border: 2px solid white; */
  position: relative;
  top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;

  color: white;
}
.tab {
  /* margin-right: 30px; */
  font-size: 24px;
  padding: 10px;
  width: 30%;
  border-bottom: 2px solid white;
  text-align: center;
  position: relative;
}
.left {
  /* border-bottom-left-radius: 8px; */
  left: -2px;
}
.right {
  left: 2px;
}
.tab:hover {
  cursor: pointer;
}

.active {
  border: 2px solid white;
  height: 26px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  color: #057bfe;
}
